<%- include("partials/header"); -%>

<div class="munzir">
    <div class="munzir1">
      <h1>Farewell Party </h1>
      <br>
      <p>Encik Asyraful Munzir</p>
      <br>
      <p>BIFE CHARCOAL STEAKHOUSE IOI City Mall | 9 Disember 2022  </p>

    </div>
    <div class="munzir0">
      <div class="munzir0_1">
        <audio controls>
          <source src="song/man.mp3" type="audio/ogg">
          <source src="song/man.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <p>♫  Man Bai- Kau Ilhamku   ♫</p>
      </div>
  <div class="munzir2">
    <div class="ima1">
      <img src="image/m1.png" alt="">
    </div>
    <div class="ima2">
      <h2>Asyraful Munzir Bin. Ar Alhan</h2>
    </div>
  </div>
</div>
</div>
