<%- include("partials/header"); -%>
<div class="main2">
  <h1 class="main2_1">“Don’t cry because it’s over. Smile because it happened.” – Dr. Seuss"</h1>
  <audio controls>
    <source src="song/man.mp3" type="audio/ogg">
    <source src="song/man.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
      <p>♫  Man Bai- Kau Ilhamku   ♫</p>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 main3 ">

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 17"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 18"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 19"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="19" aria-label="Slide 20"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="20" aria-label="Slide 21"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="21" aria-label="Slide 22"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="22" aria-label="Slide 23"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="23" aria-label="Slide 24"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="24" aria-label="Slide 25"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="25" aria-label="Slide 26"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active list1">
        <img src="image/a1.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a2.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a3.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a4.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a5.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a6.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a8.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a9.jpeg"></img>
      </div>
      <div class="carousel-item  list1">
        <img src="image/a10.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a11.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a12.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a13.jpeg"></img>
      </div>
      <div class="carousel-item  list1">
        <img src="image/a14.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a15.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a16.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a17.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a18.jpeg"></img>
      </div>
      <div class="carousel-item  list1">
        <img src="image/a20.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a21.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a22.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a23.jpeg"></img>
      </div>
      <div class="carousel-item  list1">
        <img src="image/a24.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a25.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a26.jpeg"></img>
      </div>
      <div class="carousel-item list1">
        <img src="image/a27.jpeg"></img>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
