<%- include("partials/header"); -%>
<div class="main2">
  <h1 class="main2_1">Video perpisahan En Munzir daripada team PAPD</h1>
  <video width="100%" height="800" controls class="v1">
    <source src="song/vd.mp4" type="video/mp4">
    <source src="song/vd.ogg" type="video/ogg">
  Your browser does not support the video tag.
  </video>
</div>
